%h1
  Подробности о пожаре
  = @fire.date.strftime("%d.%m.%y")
  = link_to 'Изменить', edit_fire_path(@fire)
  = link_to 'К списку пожаров', fires_path
  = link_to 'Удалить', fire_path(:fire_id => @fire.id), :method => :delete
%table.show_stat.main
  %tr
    %td.names
      Дата
    %td
      = @fire.date.strftime("%d.%m.%y")
  %tr
    %td.names
      Время сообщения
    %td
      = @fire.msg_time.strftime("%k:%M")
  %tr
    %td.names
      Объект
    %td
      = @fire.object
  %tr
    %td.names
      Адрес
    %td
      = @fire.address
  %tr
    %td.names
      Что сгорело
    %td
      = @fire.chto_sgorelo
  %tr
    %td.names
      ИППВ
    %td
      = render 'ipv'
  %tr
    %td.names
      Ущерб (руб.)
    %td
      = @fire.usherb
  %tr
    %td.names
      Спасено (руб.)
    %td
      = @fire.spasenorub
  %tr
    %td.names
      Погибло
    %td
      = @fire.pogibshie
  %tr
    %td.names
      Пострадало
    %td
      = @fire.postradavshie
  %tr
    %td.names
      Спасено (люд.)
    %td
      = @fire.spasenolud
  %tr
    %td.names
      Площадь (м.кв)
    %td
      = @fire.ploshad
  %tr
    %td.names
      Техника
    %td
      = @fire.technic
  %tr
    %td.names
      РТП
    %td
      = @fire.rtp
  %tr
    %td.names
      Караул
    %td
      = @fire.karaul
  %tr
    %td.names
      Ствол "А"
    %td
      = @fire.stvol_a
  %tr
    %td.names
      Ствол "Б"
    %td
      = @fire.stvol_b
  %tr
    %td.names
      Ствол "АПС"
    %td
      = @fire.stvol_aps
  %tr
    %td.names
      Ствол "ГПС"
    %td
      = @fire.stvol_gps
  %tr
    %td.names
      кол-во ГДЗС
    %td
      = @fire.gdzs
  %tr
    %td.names
      время ГДЗС
    %td
      = @fire.gdzs_time.strftime("%k:%M")
  %tr
    %td.names
      Вр. прибытия
    %td
      = @fire.pribytie_time.strftime("%k:%M")
  %tr
    %td.names
      Вр. 1 ствола
    %td
      = @fire.pervystvol_time.strftime("%k:%M")
  %tr
    %td.names
      Локализация
    %td
      = @fire.local_time.strftime("%k:%M")
  %tr
    %td.names
      1 Ликвидация
    %td
      = @fire.licvidation1_time.strftime("%k:%M")
  %tr
    %td.names
      2 Ликвидация
    %td
      = @fire.licvidation2_time.strftime("%k:%M")
  %tr
    %td.names
      Вр. возвращения
    %td
      = @fire.comeback_time.strftime("%k:%M")